
html {height:100%;}
@font-face {
    font-family: 'bebas_neuebold';
    src: url('bebasneue_bold-webfont.woff2') format('woff2'),
         url('bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {height: 100%; font-family:"Helvetica"; padding-left:20px;padding-right:20px;padding-top:5px;padding-bottom:5px;color:#444;overflow-y:hidden;}
h1 {font-family:'bebas_neuebold'; font-size: 160%; color:#444; letter-spacing:.2em;}
h2 {font-family:"bebas_neuebold", Courier, sans-serif; font-weight:normal; font-size:130%; color:#444; letter-spacing:.1em;}
h3 {font-family:"bebas_neuebold", sans-serif; font-size:135%; letter-spacing:.1em;color:#444;}
h4 {font-family:"bebas_neuebold", sans-serif; font-size:120%; letter-spacing:.1em;color:#444;margin-bottom:6px;}
h5 {font-family:"bebas_neuebook", sans-serif; font-size:120%; letter-spacing:.1em;color:#444;}

a:link{font-weight:bold;color:#f69729;text-decoration:none;}
a:visited{font-weight:bold;color:#f69729;text-decoration:none;}
a:hover{font-weight:bold;color:#ff0066;text-decoration:none;}

button {background-color:#fff; font-family:"Helvetica"; font-size:120%; color:#444;}
#titlebar {width:100%; padding-top:0;padding-left:20px;padding-bottom:0;margin-bottom:0;}

#header {background-color: #f69729;padding-left:20px;margin-top:7px;}
#iconbar {position:absolute 2px 2px;padding-right:10px;margin-top:0;}
#mapdiv{width: 100%; height: 95%;margin-top:5px;}

.leaflet-popup-content {
height:auto !important;
}

.imgcontain {

	margin-top:10px; margin-bottom:10px; width:100%;

}	

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	border: solid 10px #fff;
	max-width:250px;
	margin-left:-20px;
	margin-top:4em;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
  margin-top:-15px; padding-top:0;
}

.topnav a {
  float: right;
  display: block;
  color: #555;
  text-align: center;
  font-family:'bebas_neuebold';
  padding: 14px 16px;
  text-decoration: none;
  font-size: 130%;
  letter-spacing:.1em;
}

.topnav a:hover {
  background-color: #eee;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 670px) {
	#iconBar {display:none;}
}

@media screen and (max-width: 500px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

.menu-item {float:left; padding-left:4px;margin-top:0;}

.btn-primary {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
	background-color:#ffffff;
	font-family:'bebas_neuebold';
	font-weight:bold;
	font-size:120%;
	letter-spacing:.1em;
	color:#777777;
	border-radius: 4px;
	margin: 0 0 0 10px;
	padding: 3px 10px 3px 10px;
	height: auto;
}

#spinBox {
    z-index:999;
    opacity:0.5;
    display:none;
    border-radius:0.25em;
    width:5em;
    height:5em;
    margin: -2.5em 0 0 -2.5em;
    background-color:#f0f3f6;
    border:1px solid #fff;
    position:fixed;
    top:50%;
    left:50%
}

#sidebar{
	font-family:"Courier New";
//  font-size:100%;
	padding:10px;
}

.leaflet-control-layers{  
  width:30px;
  height:30px;    
} 


.leaflet-control-layers-toggle {
	background-image:none;
	font-family:"bebas_neuebold";
	font-size:150%;
  	text-decoration:none;
	background-position:2px 2px;
	padding-left:3px;
	padding-bottom:2px;
}

.leaflet-touch .leaflet-control-layers-toggle {
  	text-decoration:none;
	font-family:"bebas_neuebold";
		font-size:150%;
		padding-left:3px;
		letter-spacing:.1em;
}

.leaflet-control-layers-toggle:before {
	padding-left:2px;
    color:#444 ;
}

.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
  width:auto;
  height:auto;
	}

.pagewrap {
padding:10px; margin-top:10px;
}	
.frontmenuwrapper {
	margin-top:10px;
}

.frontmenu-item {
max-width:300px;
float:left;
padding-left:10px;
padding-right:10px;
}

.key {
	padding-top:10px;font-size:80%;
}

.keyitem {
	float:left;
	width:auto;
	padding-left:10px;
	padding-right:10px;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.directorypic {
	float:left;
	height:200px;
	max-width:100%;
}

#spinBox {
    z-index:999;
    opacity:0.5;
    display:none;
    border-radius:0.25em;
    width:5em;
    height:5em;
    margin: -2.5em 0 0 -2.5em;
	color:#ff0099;
	shadow:true;
    background-color:#f0f3f6;
    border:1px solid #fff;
    position:fixed;
    top:20%;
    left:50%
}

#infoSidebar {
	padding:8px;
	overflow-x:hidden;
}

.editlink {float:left;font-family:"bebas_neuebold", sans-serif; font-size:100%; letter-spacing:.1em;color:#444;}
.editlink a{text-decoration:none;color:#ff0066}

.artPod {height:auto; padding-left:100px; margin-right:100px;overflow-x:hidden;}
.imgcontainer{width:350px;float:right;padding-top:50px;}
.siteimgcontainer{width:300px;float:right;margin-top:-10px}
.regularTitle{padding:10px;padding-top:0;margin-top:-10;width:100%;}
.assetDesc{padding:10px;width:90%}
.siteHighlight{padding:10px;padding-left:0}
.assetPic {width:100%; padding:5px;padding-bottom:10px;}
.spacer {width:100%; border-style:none none solid none; border-width: 5px; border-color: #ddd;}
.innerspacer {width:100%; border-style:none;}
.locationheader{margin-top:-20px}

.imgdisplay{padding-left:20px}

.sitePod {height:auto; width:90%; padding:10px;}
.sitePic {width:300px; padding:20px;}
.siteDesc {padding:10px;width:90%;margin-top:-20px;}

.assetPodSmall{width:200px;height:240px;overflow-y:hidden;padding:10px;overflow-x:hidden;float:left;border: solid 2px #eee}
.assetPodSmall h3 {color:#444}

.imgcontainersmall{height:180px;width:180px;overflow:hidden;}
.assetPicSmall{width:180px;}

.assetCategoryTitle { padding-left:60px;}

.maplink {padding-right:20px;padding-left:0;color:#ff0066;padding-top:0;padding-bottom:0;}

.pagesidebar {width:33%; float:right;padding-left:10px;}
.mainpage{width:65%;float:left;}

@media screen and (max-width: 800px) {
	#mapdiv{height:100%;}
	body {font-size:90%;padding:5px;}
  	.imgcontainer{width:100%;float:none;padding:0;padding-top:10px;overflow-x:hidden;overflow-y:hidden;min-height:auto;}
	.artPod {height:auto; width: 90%; padding:5px; overflow-x:hidden;margin-left:-15px;}
	.siteimgcontainer {width:100%;float:none;padding-left:10;}
	  .assetPic {width:100%;overflow-x:hidden;overflow-y:hidden;}
	  .sitePic {width:90%;height:auto;padding:10;padding-left:5;}
	  .assetPodSmall{width:90%;height:auto;}
	  .imgcontainersmall{height:auto;width:90%;overflow:hidden;}
		.assetPicSmall{width:100%;height:auto;}
		.maplink{float:left;padding-right:5px;}
	.assetCategoryTitle { padding-left:3px;}
		.pagesidebar{width:100%;}
	.mainpage{width:100%}
	
	.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	border: solid 10px #fff;
	margin-left:-20px;
	margin-top:6em;
}
	
	
  
  }

@media screen and (min-width: 500px) {
	.mobileTitle {display:none}
	.regularTitle{display:block}


}  

@media screen and (max-width: 500px) {
	.mobileTitle {display:block}
	.regularTitle{display:none}

} 
  
}
